<body>
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Change Password | SIVIT</title>
      <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
      <%- include('../partials/navbar') %>
      <form action="/changePassword" method="POST">
        <div class="container">
          <h1>Change Password</h1>
          <hr />

          <label for="password"><b>Old Password</b></label>
          <input
            type="password"
            placeholder="Enter old password"
            name="password"
            id="password"
            required
          />

          <label for="newpassword"><b>New Password</b></label>
          <input
            type="password"
            placeholder="Enter old password"
            name="newpassword"
            id="newpassword"
            required
          />

          <label for="confirmpassword"><b>Confirm New Password</b></label>
          <input
            type="password"
            placeholder="Confirm new password"
            name="confirmpassword"
            id="confirmpassword"
            required
          />

          <hr />

          <button type="submit" class="loginbtn">Change Password</button>
        </div>
      </form>
    </body>
  </html>
</body>
